*{
    position:absolute;
    z-index: 0;

}
div {
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: 2px solid darkslateblue;
    margin: 0;
    /*background-color: darkblue;*/
    position:absolute;
}
canvas{
    background-color: beige;
    position:relative;
    z-index: 1;
    /*width: 1380;*/
    /*height: 630;*/
}
.container{
    width: 30px;
    height: 30px;
    top: 7px;
    left: 7px;
    padding: 0px;
    border: 2px solid deepskyblue;
    margin: 0;
    /*background-color: darkblue;*/
    position:absolute;
}
#ReadyPlayerOne{
    background-color: purple;
    color: yellow;
    font-size: xx-large;
    z-index: 2;

    /*top: 900px;*/
    /*left: 600px;*/
    position:absolute;
    border-radius: 50%;
}
#ghost1{
    top:100px;
    left:100px;
    border-radius: 20%;
    background-color: orange;
    transition: 2s linear;
    position:absolute;
    opacity: 25%;
    z-index: 2;

}
#ghost2{
    top:180px;
    left:180px;
    border-radius: 50%;
    border: 1px solid orangered;
    background-color: springgreen;
    transition: 4s linear;
    position:absolute;
    opacity: 25%;
    z-index: 2;
}
#ghost3{
    top:240px;
    left:240px;
    border-radius: 50%;
    background-color: lightblue;
    transition: 6s linear;
    position:absolute;
    opacity: 25%;
    z-index: 2;
}
#ghost4{
    top:400px;
    left:400px;
    border-radius: 50%;
    background-color: blue;
    transition: 8s linear;
    position:absolute;
    opacity: 25%;
    z-index: 2;
}
h1{
    font-size: xxx-large;
    font-weight: bolder;
    color: mediumvioletred;
}